In [1]:
# Case Study 1 Problems Week 1
#1
import os
cwd = os.getcwd()
print(cwd)

C:\Users\SiyaPransh\Edureka AI Engineer

In [2]:
os.chdir(r'C:\Users\SiyaPransh\Edureka AI Engineer\Text Mining and NLP')

In [3]:
#2
f = open("Greetings.txt", "w")
f.write("Welcome to Text Mining and Natural Language Processing")
f.close()
os.rename("Greetings.txt","Welcome.txt")
f = open("Welcome.txt", "r")
print(f.read())

Welcome to Text Mining and Natural Language Processing1

In [32]:
pip install python-docx

Collecting python-docxNote: you may need to restart the kernel to use updated packages.

  Downloading python_docx-1.1.2-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: lxml>=3.1.0 in c:\users\siyapransh\anaconda3\lib\site-packages (from python-docx) (5.2.1)
Requirement already satisfied: typing-extensions>=4.9.0 in c:\users\siyapransh\anaconda3\lib\site-packages (from python-docx) (4.11.0)
Downloading python_docx-1.1.2-py3-none-any.whl (244 kB)
Installing collected packages: python-docx
Successfully installed python-docx-1.1.2

In [9]:
#3
import docx
doc = docx.Document("NLP.docx")
print(len(doc.paragraphs))

26

In [42]:
doc.add_paragraph("Welcome to Text Mining and Natural Language Processing1")

In [20]:
#3
from nltk.tokenize import word_tokenize as wt
doc = docx.Document("NLP.docx")
no_of_para = len(doc.paragraphs)
print("No. of Paragraphs " + str(no_of_para))
for x in range(no_of_para):
    print ("No. of Words in Paragraph " + str(x+1) + " -", end = " ")
    no_of_words_in_para = len(doc.paragraphs[x].text)
    print(no_of_words_in_para)

No. of Paragraphs 26
No. of Words in Paragraph 1 - 511
No. of Words in Paragraph 2 - 355
No. of Words in Paragraph 3 - 769
No. of Words in Paragraph 4 - 170
No. of Words in Paragraph 5 - 41
No. of Words in Paragraph 6 - 478
No. of Words in Paragraph 7 - 273
No. of Words in Paragraph 8 - 433
No. of Words in Paragraph 9 - 301
No. of Words in Paragraph 10 - 316
No. of Words in Paragraph 11 - 55
No. of Words in Paragraph 12 - 443
No. of Words in Paragraph 13 - 248
No. of Words in Paragraph 14 - 522
No. of Words in Paragraph 15 - 600
No. of Words in Paragraph 16 - 43
No. of Words in Paragraph 17 - 343
No. of Words in Paragraph 18 - 662
No. of Words in Paragraph 19 - 235
No. of Words in Paragraph 20 - 368
No. of Words in Paragraph 21 - 369
No. of Words in Paragraph 22 - 42
No. of Words in Paragraph 23 - 537
No. of Words in Paragraph 24 - 576
No. of Words in Paragraph 25 - 472
No. of Words in Paragraph 26 - 405

In [84]:
#4
import pandas as pd
df = pd.read_csv("EmployeeDetails.csv")
#View the first 5 rows
df.head()
df.keys()
print("Original Table")
print(df)
df_name = df.drop('Age', axis=1)
df_name = df_name.drop('Salary', axis=1)
df_name[['First Name', 'Last Name']] = df_name['Name'].str.split(' ', expand=True)

df_name = df_name.drop('Name', axis=1)
df = df.drop('Name', axis=1)
#print(df_name)
df_final = df_name.join(df)
print("Split Name Table")
print(df_final)

Original Table
              Name  Age  Salary
0      Arjun singh   24   10000
1       Vibhor Jha   26   25000
2  Yoshita Debnath   23   15000
3   Abhitesh Setia   25   18000
4    Shaurya Nayar   26   30000
5      Disha Gupta   27   23000
Split Table
  First Name Last Name  Age  Salary
0      Arjun     singh   24   10000
1     Vibhor       Jha   26   25000
2    Yoshita   Debnath   23   15000
3   Abhitesh     Setia   25   18000
4    Shaurya     Nayar   26   30000
5      Disha     Gupta   27   23000

In [85]:
Salary_column = df_final['Salary']

def Salary_inc(x):
    x=x*1.1
    return x

Salary_column = Salary_column.apply(Salary_inc)

df_final['Salary'] = Salary_column
print(df_final)

  First Name Last Name  Age   Salary
0      Arjun     singh   24  11000.0
1     Vibhor       Jha   26  27500.0
2    Yoshita   Debnath   23  16500.0
3   Abhitesh     Setia   25  19800.0
4    Shaurya     Nayar   26  33000.0
5      Disha     Gupta   27  25300.0

In [87]:
f = open("Employee_Data1.csv", "w")
f.write(str(df_final))
f.close()